.edit-text-container {
  height: 50px;
  line-height: 50px;
  width: 303px;
  border: 1px solid rgba(10, 34, 57, 0.12);
  border-radius: 5px;
  margin-bottom: 28px;
  margin: 20px 0;
  position: relative;
  display: inline-block;

  .suffix {
    font-size: 14px;
    display: none;
    color: rgba(10, 34, 57, 1);
    font-family: Nunito-bold;
    opacity: 1;
    position: absolute;
  }

  input {
    width: 90%;
    height: 90%;
    outline: none;
    border: 0px solid;
    caret-color: rgba(48, 84, 214, 1);
    font-size: 14px;
  }

  input:focus + span,
  input:not(:placeholder-shown) + span {
    opacity: 1;
    transform: scale(0.85) translateY(-65%) translateX(-20px);
    background-color: white;
    font-size: 12px;
    color: rgba(48, 84, 214, 1);
  }

  input:not(:focus) + span {
    transition: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  //   /* For IE Browsers*/
  //   input:focus + span,
  //   input:not(:-ms-input-placeholder) + span {
  //     opacity: 1;
  //     transform: scale(0.75) translateY(-100%) translateX(-30px);
  //   }

  span {
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 14px;
    margin-right: 14px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
  }
}
// .edit-text-container:first-child {
//   margin-top: 32px;
// }

.edit-text-container:focus-within {
  border: 1px solid rgba(48, 84, 214, 1);

  .suffix {
    display: inline;
  }
  .suffix + input {
    box-sizing: border-box;
    padding-left: 40px;
  }
}

// input:focus + span,
// input:not(:placeholder-shown) + span {
//   opacity: 1;
//   transform: scale(0.85) translateY(-65%) translateX(-20px);
//   background-color: white;
//   font-size: 12px;
//   color: rgba(48, 84, 214, 1);
// }
